<app-header></app-header>
<br>
<h2>Edit Employee Details</h2>
<div class="center-form">
<form action="/ViewEmployee_page">
    <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
  <label for="EmpID">Identity Number:</label><br>
  <input type="number" id="EmpID" name="EmpID" value="null"><br><br>
  <label for="emailaddress">Email Address:</label><br>
  <input type="text" id="emailaddress" name="email_address"> <br>

  <p><i>Choose your gender:</i></p>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Male</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">Female</label><br><br>

  <p><i>Select a department</i></p>
  <input type="radio" id="IT" value="IT">
  <label for="IT">IT</label>
  <input type="radio" id="Finance" value="finance"><br>
  <label for="Finace">Finance</label><br>
  <input type="radio" id="Sales" value="Sales"><br>
  <label for="Sales">Sales</label><br><br>


  <button type="Submit" value="Submit" class="btn btn-primary">Update Employee</button> <br>

  <!-- <button value="cancel">Back</button> -->
  <a routerLink="/home" routerLinkActive="active" class="btn btn-danger" style="float:left">Back</a>
</form>
</div>

<app-footer></app-footer>

