

<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Edit Employee Details</h3>
                    <p>Fill in the data below.</p>
                    <form class="requires-validation" novalidate>

                        <div class="col-md-12">
                           <input class="form-control" type="text" name="name" placeholder="First Name" required>
                           <div class="valid-feedback">Firstname field is valid!</div>
                           <div class="invalid-feedback">Firstname field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <input class="form-control" type="text" name="name" placeholder="Last Name" required>
                            <div class="valid-feedback">Lastname field is valid!</div>
                            <div class="invalid-feedback">Lastname field cannot be blank!</div>
                         </div>

                        <div class="col-md-12">
                            <input class="form-control" type="email" name="email" placeholder="E-mail Address" required>
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                        </div>


                        <div class>
                            <input class="form-control" type="text" name="name" placeholder="Contact Number" required>
                         </div>

                       <div class="col-md-12">
                            <select class="form-select mt-3" required>
                                  <option selected disabled value="">Department</option>
                                  <option value="jweb">IT</option>
                                  <option value="sweb">HR</option>
                                  <option value="pmanager">Finance</option>
                           </select>
                            <div class="valid-feedback">You selected a position!</div>
                            <div class="invalid-feedback">Please select a position!</div>
                       </div>

                       <div class="col-md-12 mt-3">
                        <label class="mb-3 mr-1" for="gender">Gender: </label>
                        &nbsp;
                        <input type="radio" name = "gender" value="male">&nbsp;Male
                        &nbsp;
                        <input type="radio" name = "gender" value="female">&nbsp;Female 
                        </div>

                       
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-primary me-md-2" type="button" (click)="alertWithSuccess()">Submit</button>
                            <button id="cancel" routerLink="/home" routerLinkActive="active" class="btn btn-primary" type="button">Cancel</button>
                        </div>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
