<app-header></app-header>
<div class="container">
  <h2>Add Employee</h2>
  <form action="">
    <div class="row d-flex justify-content-center">
      <div class="col align-self-center">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value=""><br><br>
      </div>
      <div class="col">

        <label for="emailaddress">Email Address:</label><br>
        <input type="text" id="emailaddress" name="email_address"> <br>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value=""><br><br>
        <label for="EmpID">Identity Number:</label><br>
        <input type="number" id="EmpID" name="EmpID" value="null"><br><br>
          <div class="d-flex justify-content-start">
            <button type="Submit" value="Submit" class="btn btn-primary">Add Employee</button> <br>
            &nbsp;
            &nbsp;
            <a routerLink="/home" routerLinkActive="active" class="btn btn-danger" style="float:left">Back</a>
          </div>
      </div>
      <div class="col">
        <br/>
        <p><i>Choose your gender:</i></p>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br><br>

        <p><i>Select a department</i></p>
        <div class="d-flex justify-content-start">
          &nbsp;
          &nbsp;
          <input type="radio" id="IT" value="IT">
          <label for="IT">IT</label>
          &nbsp;
          &nbsp;
          <input type="radio" id="Finance" value="finance"><br>
          <label for="Finace">Finance</label>
          &nbsp;
          &nbsp;
          <input type="radio" id="Sales" value="Sales"><br>
          <label for="Sales">Sales</label><br>

        </div>
      </div>

    </div>
  </form> 
</div>
<app-footer></app-footer> 

