.btn-primary{
    background-color: #0c0c0cd3;
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.btn-danger{
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

