<app-header></app-header>
  <br>
  <a routerLink="/add-employee" routerLinkActive="active" class="btn btn-primary" style="float:right">Add Employee</a>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Email</th>
        <th scope="col">Department</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mark@gmail.com</td>
        <td>HR</td>
        <td>Active</td>
        <td><a routerLink="/edit-employee" routerLinkActive="active" class="btn btn-primary">Edit</a>|<button type="button" class="btn btn-danger">Delete</button>|<button type="button" class="btn btn-outline-info">View</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Leon</td>
        <td>Shuckstar Bones</td>
        <td>Bones@gmail.com</td>
        <td>IT</td>
        <td>Active</td>
        <td><a routerLink="/edit-employee" routerLinkActive="active" class="btn btn-primary">Edit</a>|<button type="button" class="btn btn-danger">Delete</button>|<button type="button" class="btn btn-outline-info">View</button></td>
      </tr>
    </tbody>
  </table>
<app-footer></app-footer>
  
  